<div id="<%= dom_id hardware %>">
  <p>
    <strong>Device:</strong>
    <%= hardware.device %>
  </p>

  <p>
    <strong>Model:</strong>
    <%= hardware.model %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= hardware.description %>
  </p>

</div>
